@{
	Layout = "Layout.cshtml";
}
This website displays detailed information about the spell data in <tt>spells_us.txt</tt> included with the EverQuest Titanium client.
<br />
Note that many spell effects are only used in a couple of spells and have special behavior beyond what's shown here.
<br />
Some values are capped or ignored and the game uses hard coded values instead.
<br />
<br />
<br />
<br />
<a href="spells_us_dc86fe0303f5282fe8790f772ecaa93c.txt">Spell file</a> contains @(Model.Context.SpellFileRecords.Length) records.
<br />